@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.delay-200 {
  animation-delay: 0.2s;
}
